{% extends 'base.html.twig' %}

{% block title %}Matchs index{% endblock %}

{% block body %}
    <h1>Matchs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateMatch</th>
                <th>Heure</th>
                <th>Stade</th>
                <th>ScoreDomicile</th>
                <th>ScoreExterieur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matchs %}
            <tr>
                <td>{{ match.id }}</td>
                <td>{{ match.dateMatch ? match.dateMatch|date('Y-m-d') : '' }}</td>
                <td>{{ match.heure ? match.heure|date('H:i:s') : '' }}</td>
                <td>{{ match.stade }}</td>
                <td>{{ match.scoreDomicile }}</td>
                <td>{{ match.scoreExterieur }}</td>
                <td>
                    <a href="{{ path('app_matchs_show', {'id': match.id}) }}">show</a>
                    <a href="{{ path('app_matchs_edit', {'id': match.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matchs_new') }}">Create new</a>
{% endblock %}
